.header{
  background-color: $background-slack;
  color: white;
  margin-bottom: -70px;
&-div{
  padding-bottom: 70px;
}
  &-nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    
    &-a {
      text-align: center;
      align-items: center;
      margin: 28px 32px;
      font-size: 28px;
      text-decoration: none;
      color: white;
      &-img{
        width: 25px;
        height: 25px;
      }
    } 
  }
  &-section-1{
    margin: 0px 5%;
    text-align: center;
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    &-h1{
      font-size: 40px;
      line-height: 50px;
      &-span{
        color:#ecb22e
      }
    }
    &-p{
      display: none;
    }
    &-h2{
      font-family: $slack-font;
      font-size: 15px;
      font-weight: 400;
      line-height: 26px;
    }
    &-button1{
      @include button($background-slack, white, 10px 0px 0px 0px);
    }
    &-button2{
      @include button(white,#007aff, 10px 0px 0px 0px);
      align-items: center;
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      h3 {
        margin-right: 20%;
      }
      &-img{
        width: 48px;
        background-color: white;
        padding: 11px;
        margin-left: 2px;
        border-radius: 3px;
      }
    }
  }
}
.video {
  margin-top: 50px;
  display: flex;
  overflow: hidden;
  &-img {
    min-width: 700px; 
    margin-left: -60px;
  }
}
@media screen and (min-width: 768px) {
  .header{
    &-section-1{
      text-align: left;
    }
        &-div{
        display: flex;
        .video{
          
            max-width: 50%;
            margin-top: 0px;
            display: block;
            &-img{
            width: 100%;
            margin: 0px;
            }
          }
    }

  }
}
@media screen and (min-width: 1124px) {
    .header{
    &-section-1{
      text-align: left;
          &-p{
      display: inline;
      }
    }
}
}