@mixin inamovible() {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
}
//el mixin inamovible no especifica variables y no se puede cambiar el contenido si se importa en otro lugar
@mixin cambiable($family, $size, $color, $height) {
  font-family: $family;
  font-size: $size;
  color: $color;
  line-height: $height;
}
//el mixin de arriba tiene variables que se puede especificar en donde se importe

@mixin button($color, $backColor, $margin) {
border: 1px solid transparent;
border-radius: 3px;
height: 55px;
font-weight: 600;
width: 100%;
color: $color;
background-color: $backColor;
margin: $margin;
}


@mixin arrow() {
display: inline-block;
width: 10px;
height: 10px;
border: 1px solid black;
border-width: 0 2px 2px 0;
transform: rotate(-45deg);
transition: transform 0.3s ease-in-out;
cursor: pointer;
}
